<meta name="description" content="A Homophone is a word that sounds like another word, but has a different spelling and meaning. Homophone.com is user-friendly, searchable database of homophones of the English language.">

<meta name="viewport" content="width=device-width, user-scalable=yes"/>

<%= canonical_tag -%>

<meta property="og:title" content="<%= full_page_title %>"/>
<meta property="og:url" content="<%= canonical_href %>"/>
<meta property="og:site_name" content="<%= t(:site) %>"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content=""/>

<title><%= full_page_title %></title>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
