<meta name="description" content="<%= page_description %>">

<meta name="viewport" content="width=device-width, user-scalable=yes"/>

<%= canonical_tag -%>

<meta property="og:title" content="<%= full_page_title %>"/>
<meta property="og:description" content="<%= page_description %>"/>
<meta property="og:url" content="<%= canonical_href %>"/>
<meta property="og:site_name" content="<%= t(:site) %>"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content="<%= image_url("social/applebook.jpg") %>"/>

<title><%= full_page_title %></title>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
