<section class="block-section" id="above-fold">
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to <%= t(:site) %></h1>
      <% @preface = ["The Internet's only complete", "Your one-stop complete", "The world's only complete"].sample %>
      <p><strong><%= @preface %> homophone list</strong>.</p>
      <%= browse_btn %>
      <%= link_to "What is a homophone?", "#what", class: "btn btn-info btn-lg btn-xs-full" %>
      </p>
    </div>
  </div>
</section>

<%= render "ads/horizontal" %>

<%= render partial: 'sections/about_homophones' %>

<%= render "ads/horizontal" %>

<%= render partial: 'sections/more_info' %>
