<section class="block-section" id="above-fold">
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to <%= t(:site) %></h1>
      <% @preface = ["The Internet's only complete", "Your one-stop complete", "The world's only complete"].sample %>
      <p><strong><%= @preface %> homophone list</strong>.</p>
      <%= browse_btn %>
      <%= random_btn %>
      <%= define_btn %>

      <div class="row">
        <div class="col-md-8">
          <form class="search-form" action="<%= word_sets_path %>">
            <div class="form-group">
              <label for="search-text">Search Homophones</label>
              <div class="input-group">
                <div class="input-group-btn type-input-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span>Includes</span> <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-right" role="menu">
                    <li><a href="#" data-value="include">Includes</a></li>
                    <li><a href="#" data-value="begin">Begins with</a></li>
                  </ul>
                  <input type="hidden" value="<%= @query_type %>" name="type" />
                </div>

                <input id="search-text" type="text" placeholder="letters" name="q" value="<%= @query %>">

                <span class="input-group-btn">
                  <input type="submit" class="btn btn-default" value="Search" />
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "ads/horizontal" %>

<%= render partial: 'sections/about_homophones' %>

<%= render "ads/horizontal" %>

<%= render partial: 'sections/more_info' %>
