<%= form_for(@word_set) do |f| %>
  <% if @word_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word_set.errors.count, "error") %> prohibited this word_set from being saved:</h2>

      <ul>
      <% @word_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @word_set.words.find_each do |word| %>
    <input type="text" name="word_set[words][]" value="<%= word.text %>"/>
  <% end %>

  <input type="text" name="word_set[words][]" value=""/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
