<div class="container">

  <div class="row">
    <div class="col-sm-9">
    
      <%= content_tag page_h do %>
        <% if @query %>
          <% if @word_sets.count.zero? %>
            We couldn't find any homophones that <%= describe_query(@query, @query_type) %>...
          <% else %>
            Homophones that <%= describe_query(@query, @query_type) %>...
          <% end %>
        <% else %>
          Listing all Homophones
        <% end %>
      <% end %>
      
    </div>
    <div class="col-sm-3">
      <h3>
        <% if can? :create, :word_set %>
          <%= link_to fa_icon("plus") + ' New Word Set', new_word_set_path, class: "btn btn-info btn-sm btn-xs-full" %>
        <% end %>
      </h3>
    </div>
  </div>

  <div class="card-set-container">
    <% ad_frequency = 3; ad_start = 2 %>
    <% @word_sets.each_with_index do |word_set, i| %>
      <% @word_set = word_set %>
      <%= render partial: 'card' %>

      <%= render "ads/card" if should_serve_ad?(i, ad_frequency, ad_start, @word_sets.count) %>
    <% end %>
  </div>

  <%# # if no more homophones (pagination)  %>
  <%= render 'layouts/more_homophones' %>

</div>

<script>
sessvars.current_query = <%= ({term: @query, type: @query_type}.to_json.html_safe) %>;
</script>
