<%
@title = if @query
           "Homophones that #{describe_query(@query, @query_type)}"
         else
           "All homophones in our database"
         end
content_for(:title, @title)
%>

<% content_for(:desc, "#{@title}. #{default_page_description}") %>

<div class="container">

  <div class="row">
    <div class="col-sm-9">

      <%= content_tag page_h do %>
        <% if @query %>
          <% if @presenter.any? %>
            Homophones that <%= describe_query(@query, @query_type) %>...
          <% else %>
            We couldn't find any homophones that <%= describe_query(@query, @query_type) %>...
          <% end %>
        <% else %>
          Listing all Homophones
        <% end %>
      <% end %>

      <% if @presenter.any? %>
        <h5>Page <%= @presenter.page %> / <%= @presenter.total_pages %></h5>
      <% end %>
    </div>
    <div class="col-sm-3">
      <h3>
        <% if can? :create, :word_set %>
          <%= link_to fa_icon("plus") + ' New Word Set', new_word_set_path, class: "btn btn-info btn-sm btn-xs-full" %>
        <% end %>
      </h3>
    </div>
  </div>

  <% if @presenter.any? %>
    <div class="card-set-container">
      <% ad_frequency = 6; ad_start = 3 %>
      <% @presenter.results.each_with_index do |word_set, i| %>
        <% @word_set = word_set %>
        <%= render partial: 'card' %>

        <%= render "ads/card" if should_serve_ad?(i, ad_frequency, ad_start, @presenter.count) %>
      <% end %>
    </div>
  <% else%>
    <div class="well well-lg">
      No homophones found!
    </div>
  <% end %>

  <% if @presenter.total_pages > 1 %>
    <div class="pagination-container">
      <%= render_pagination(@presenter) %>
    </div>
  <% end %>

  <%= render "layouts/more_homophones" %>

</div>

<script>
  sessvars.current_query = <%= ({term: @query, type: @query_type}.to_json.html_safe) %>;
</script>
