<h1>Listing word_sets</h1>

<table>
  <thead>
    <tr>
      <th>Visits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @word_sets.each do |word_set| %>
      <tr>
        <td><%= word_set.visits %></td>
        <td><%= link_to 'Show', word_set %></td>
        <td><%= link_to 'Edit', edit_word_set_path(word_set) %></td>
        <td><%= link_to 'Destroy', word_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word set', new_word_set_path %>
