<%= form_for @word do |f| %>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  
  <div class="field">
    <%= f.label :display_text %><br>
    <%= f.text_field :display_text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
