<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <%= link_to t("site"), root_path, class: "navbar-brand" %>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      Menu
    </button>
  </div>

  <div class="navbar-default navbar-collapse collapse navbar-responsive-collapse" id="navbar-main">

    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About <span class="caret"></span></a>
        <ul class="dropdown-menu" >
          <li><a href="/about#what">What is a homophone?</a></li>
          <li><a href="/about#more">More about homophones</a></li>
          <li><a href="/about#examples">Homophone sentence examples</a></li>
          <li><a href="/about#why">Why do homophones exist?</a></li>
          <li><a href="/about#about">About the author</a></li>
          <li><a href="/about#email">Email the author</a></li>
        </ul>
      </li>

      <li><%= link_to "Random", random_homophone_path %></li>

      <% if can? :create, WordSet %>
        <li><%= link_to(raw("<span class=\"fa fa-plus\"></li>"), new_word_set_path) %></li>
      <% end %>

    </ul>

    <form class="navbar-form navbar-right navbar-search-form" action="<%= word_sets_path %>">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span>Includes</span> <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-right" role="menu">
            <li><a href="#" data-value="include">Includes</a></li>
            <li><a href="#" data-value="begin">Begins with</a></li>
          </ul>
          <input type="hidden" value="<%= @query_type %>" name="type" />
        </div>

        <input id="nav-search" type="text" placeholder="letters" name="q" value="<%= @query %>">

        <span class="input-group-btn">
          <input type="submit" class="btn btn-default" value="Search" />
        </span>
      </div>
    </form>

  </div>

</div>
