<!DOCTYPE html>
<html>
<head>
  <%= render "meta/head" %>
  <%= stylesheet_link_tag("application", media: "all") %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>

  <div id="body-content">

    <%= render "layouts/notifications" %>

    <%= render "layouts/back_button" %>

    <%= yield %>

    <%= render "layouts/footer" %>

    <%= render "modals/browse_letters" %>

  </div>

  <%= render "layouts/analytics" %>

  <%= javascript_include_tag("application") %>

</body>
</html>
